@import "~antd/dist/antd.css";
.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch {
  margin: 10px;
}
.container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-panel {
  width: 100%;
}
.control-panel {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.footer {
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.url-provider {
  width: 400px;
}
.logout-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.column-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 50px;
}
.update-button {
  display: flex;
  margin-bottom: 20px;
}
.last-update {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  height: 100%;
}
.right-panel {
  padding-top: 40px;
  margin-left: 30px;
  width: 350px;
}
.calendar {
  width: 1000px;
}
.calendar-url {
  display: flex !important;
  justify-content: stretch !important;
}
.title {
  font-size: 16px;
}
.logout-button {
  margin-left: 15px;
}
